.hbb {
        text-decoration: underline;
    text-decoration-color: #580ca4;
    text-decoration-thickness: 3px;
    padding-left: 600px;
    display: block;
    font-size: 45px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}
.hobbies {
    list-style: none;
    padding: 0;
    max-width: 700px;
    margin: 40px auto;
}

.hobbies li {
    background: #ffffff;
    margin-bottom: 15px;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    font-size: 25px;
    line-height: 1.5;
}
.hobbies li {
    border-left: 4px solid #b43ed7;
}
.voltar {
    display: block;
    margin: 50px auto;
    padding: 10px 20px;
    border: 2px solid gray;
    border-radius: 400px;
    color: purple;
    font-weight: 700;
}
  .voltar:hover {
    cursor: pointer;
    background-color: plum;
    transform: translateY(-3px);
  }